#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    display: flex;
    gap:1rem;
    padding: 1rem;
  }
  .box{
    display:grid;
    place-items:center;
    height: 100vh;
  }